<div class="comment-area">
  <div class="comments">
    <% @blog.comments.each do |comment| %>
      <div class="comment">
        <div class="col-md-2">
          <%= image_tag comment.user.avatar_url+'&s=80', class: 'user-avatar'%>
        </div>
        <div class='comment-info'>
          <div class="comment-top">
            <div class="user-name">
              <%= comment.user.name %> commented at
            </div>
            <div class="comment-at">
              <%= comment.user.created_at.strftime("%F %T") %>
            </div>
          </div>
          <div class="comment-content">
            <%= comment.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= form_with(model: @blog.comments.new, url: comments_path, local: true) do |form| %>
    <div class="form-group">
      <%= form.label '评论内容', class: 'control-label' %>
      <%= form.text_area :content, class: 'form-control comment-content-field' %>
      <%= form.hidden_field :blog_id %>
      <p class="hint">支持markdown格式</p>
    </div>
    
    <div>
      <div class="form-group">
        <% if @current_user.blank?%>
          <a href="<%=@oauth_url%>">
            <%= fa_icon "github", class: "fa-3x" %>
          </a>
          <p class="hint">请先登陆后再进行评论</p>
        <% else %>
          <%= form.submit 'Comment', class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<script>
  var elements = document.getElementsByClassName("comment-content");
  for(var i = 0; i < elements.length; i++) {
    showMDContent(elements[i].innerText, elements[i]);
  }
</script>