<div class="blog-body">
  <div class="blog-show">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'ZeroHome', root_path%></li>
        <li class="breadcrumb-item"><%= link_to 'Blogs', blogs_path%></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @blog.title %></li>
      </ol>
    </nav>

    <h1 class="title"><%= @blog.title %></h1>
    <p class="blog-footer">
      <ion-icon name="pricetag" class="align-middle"></ion-icon>
      <span class="blog-category"><%= @blog.category.name%></span>
    </p>
    <div class="blog-content">
      <%= render_md_content(@blog.content) %>
    </div>
    <div class="blog-comment">
      <%= render 'comment_block'%>
    </div>
  </div>

<%= render 'right_block'%>

</div>