<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
<div class='blog-form-container'>
  <div class="blog-form">
    <%= form_with(model: blog, url: blog.persisted? ? zero_blog_path(blog) : zero_blogs_path, local: true) do |form| %>
      <% if blog.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
          <ul>
          <% blog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= form.label :title, class: 'control-label' %>
        <%= form.text_field :title , class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= form.label :category, class: 'control-label' %>
        <%= form.select :category_id, Category.all.map{|category| [category.name, category.id]}, {}, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= form.label :images, class: 'control-label' %>
        <%= form.file_field :images, multiple: true, direct_upload: true, class: 'form-control'%>
      </div>
      <% blog.images.each do |image|%>
        <%= image_tag(image, width: 150, :onClick => "copyImageSrc(this);")%>
      <% end %>
      <div class="form-group">
        <%= form.label :content, class: 'control-label' %>
        <%= form.text_area :content, class: 'form-control content-area' %>
      </div>
      <div class="actions">
        <%= form.submit 'Create', class: 'btn btn-primary'  %>
      </div>
    <% end %>
  </div>
  <div class="blog-content-previewer">
    <div id='blog-preview' class="markdown-body">
    </div>
  </div>
</div>
<script>
  var textarea = $('textarea[name="blog[content]"]')
  var timer

  textarea.keyup(function(event) {
    clearTimeout(timer)
    timer = setTimeout(function() {
      var target = document.getElementById('blog-preview')
      showMDContent(getContent(), target)
    }, DEBOUNCE_INTERVAL)
  });

  function getContent() {
    return $('textarea[name="blog[content]"]').val();
  }

  function copyImageSrc(event) {
    var content = event.getAttribute('src')
    const input = document.createElement('input');
    document.body.appendChild(input);
    input.setAttribute('value', content);
    input.select();
    if (document.execCommand('copy')) {
      document.execCommand('copy');
      console.log('复制成功');
    }
      document.body.removeChild(input);
  }
</script>