<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <th colspan="2">Title</th>
      <th colspan="1">Category</th>
      <th colspan="3">Abstract</th>
      <th colspan="1">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title%></td>
        <td><%= blog.category.name%></td>
        <td><%= link_to 'Show', zero_blog_path(blog) %></td>
        <td><%= link_to 'Edit', edit_zero_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', zero_blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate @blogs %>
</table>

<br>


<%= link_to 'New Blog', new_zero_blog_path %>