<div class="blog-index col-lg-8 col-md-10 mx-auto">
  <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>

  <h3>Blogs</h3>
  <br>
    <% @blogs.each do |blog| %>
      <div class="blog-block">
        <h1><%= link_to blog.title, zero_blog_path(blog), class: 'blog-title' %></h1>
        <div class="blog-footer">
          <ion-icon name="pricetag"></ion-icon>
          <span class="blog-category"><%= link_to blog.category.name, zero_blogs_path(category_id: blog.category_id), class: 'blog-category-name'%></span>
          <span class="blog-created-time"><%= blog.created_at.strftime('%F')%></span>
        </div>
      </div>
      <hr>
    <% end %>
  <%= paginate @blogs%>
</div>