<% content_for :header do %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
    <div class="container">
      <%= link_to 'ZeroHome', root_path, class: 'navbar-brand js-scroll-trigger'%>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="align-middle">Menu</span>
        <ion-icon name="menu" class="align-middle"></ion-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#introduction">Introduction</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#works">Works</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#kaga">About Kaga</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
<header class="home-header">
  <div class="intro-header">
    <div>
      <div class="avatar-container">
        <div class="avatar">
          <%= image_tag('zero_avatar.jpg', class: 'zero-avatar') %>
        </div>
        <div class="avatar-back">
          <%= image_tag('sleep_kaga.jpg', class: 'zero-avatar') %>
        </div>
      </div>
      <h3>Zero</h3>
      <p>一个随处可见的普通人</p>
      <a href="mailto:zeroex11@qq.com" class="align-middle"><ion-icon name="mail" size="large"></ion-icon></a>
    </div>
  </div>
</header>
<section class="odd-section text-white" id="introduction">
  <div class="container x-large">
    <h1 class="text-center text-uppercase text-white">Introduction</h1>
    <hr class="star-light mb-5">
    <div class="text-center text-lg introduction">
      <p class="text-monospace">热爱编程 热爱运动 热爱游戏 热爱生活</p>
      <p class="text-monospace">现役: 全栈工程师 半吊子吉他手 天马行空厨子 游戏菜鸟</p>
      <p class="text-monospace">在成为全才的路上不断匍匐前进着</p>
      <p class="text-monospace">这个博客也是为了监督自己养成整理日常点滴、技能知识的习惯</p>
    </div>
  </div>
</section>

<section class="even-section" id="experience">
  <div class="container">
    <h1 class="text-center text-uppercase">Experience</h1>
    <hr class="star-light mb-5">
    <div class="experience-block rounded-10">
      <h4>2015.08 - 2016.09</h4>
      <p class="font-weight-bold">上海华为技术有限公司</p>
      <p>安全开站</p>
    </div>
    <div class="experience-block rounded-10">
      <h4>2016.10 - 2018.03</h4>
      <p class="font-weight-bold">上海品米信息科技有限公司&深圳一知信息有限公司</p>
      <p>点餐系统&县域资讯</p>
      </br>
      <h5><%= link_to '点单宝', "http://www.diandanbao.com", target: '_blank', style: 'text-decoration: none; color: #007bff;'%></h5>
        <p class="font-italic">为餐厅商家打造的一套系统产品, 集点单、外卖、排号、收银系统、库存管理等主要功能的Sass产品</p>
      </br>
      <h5><%= link_to '百城头条', "http://www.baichengtoutiao.com", target: '_blank', style: 'text-decoration: none; color: #007bff;'%></h5>
        <p class="font-italic">为三四线城市打造的咨询产品, 人工智能个性化推荐</p>
    </div>
    <div class="experience-block rounded-10">
      <h4>2018.03 - 2018.05</h4>
      <p>自我调整</p>
      <p class="font-italic">因身体原因，休息+旅行</p>
      <ul>
        <li>台湾---时隔17年的故地重游</li>
      </ul>
    </div>
    <div class="experience-block rounded-10">
      <h4>2018.06 - 至今</h4>
      <p class="font-weight-bold">上海品米信息科技有限公司&深圳一知信息有限公司</p>
      <p class="font-italic">选择重新回到公司, 继续和公司一起奋战</p>
    </div>
  </div>
</section>

<section class="odd-section text-white" id="skills">
  <div class="container">
    <h1 class="text-center text-uppercase mb-0">Skills</h1>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <ul class="skills">
          <h3 class="mb-4">Career</h4>
          <li>Ruby on Rails</li>
          <li>HTML/CSS/JS</li>
          <li>React Native</li>
          <li>MySQL/Redis</li>
          <li>OSX</li>
          <li>Git</li>
        </ul>
      </div>
      <div class="col-lg-4 mr-auto">
        <ul class="skills">
          <h3 class="mb-4">Life</h4>
          <li>English/Japanese</li>
          <li>Swiming</li>
          <li>Cooking</li>
          <li>Travelling</li>
          <li>Gaming (Maybe?)</li>
          <li>Guitar</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="even-section" id="works">
  <div class="container">
    <h1 class="text-center text-uppercase mb-0">Works</h1>
    <hr class="star-dark mb-5">
    <h4 class="text-center">暂无 敬请期待~</h4>
  </div>
</section>

<section class="odd-section text-white" id="kaga">
  <div class="container">
    <h2 class="text-center">About Kaga</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p>单侧马尾的冰山美人</p>
        <p>无口, 但感情细腻, 知性</p>
        <p>无论是平时冷冰冰的样子</p>
        <p>还是和赤城在一起时害羞的姿态</p>
        <p>每每看着她的脸庞</p>
        <p>听着她的声音</p>
        <p>内心就被治愈, 变得十分平静</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <%= image_tag('kaga_intro', width:'250', class: 'kaga-intro')%>
      </div>
    </div>
  </div>
</section>

<div class="copyright py-4 text-center text-secondary">
  <div class="container">
    <small>Copyright &copy; ZeroHome 2018</small>
  </div>
</div>

<script>
  if(!audio) {
    var audio = new Audio('audio/kagamisaki.mp3');
    audio.volume = 0.3;
    audio.addEventListener('ended', function() {
      audio.currentTime = 0;
      audio.play();
    });
  }
  $('body').click(function(){
    audio.play();
  })
</script>