<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-header">
  <a class="navbar-brand" href="<%= root_path%>">Zero</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav">
      <li class="nav-item">
        <%= link_to 'Blogs', zero_blogs_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Comments', zero_comments_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Users', zero_users_path, class: 'nav-link'%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Add Category', new_zero_category_path, class: 'dropdown-item'%>
            <%= link_to 'New Blog', new_zero_blog_path, class: 'dropdown-item' %>
            <%= link_to 'Logout', zero_session_path, :method => :delete, class: 'dropdown-item', :data => { :confirm => "Are sure to logout?" }%> 
        </div>
      </li>
    </ul>
  </div>
  <%= image_tag('zero_avatar.jpg', class: 'zero-avatar') %>
</nav>