<!DOCTYPE html>
<html>
<head>
  <title>ZeroHomepage</title>
  <%= favicon_link_tag 'favicon.jpg' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <%= javascript_pack_tag "application" %>
</head>
<body>

<% if content_for?(:header)%>
  <%= yield :header %>
<% else %>
  <%= render 'layouts/header'%>
<% end %>

<%= yield %>

<div class="kaga">
  <div class="kaga-tips"></div>
  <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
</div>
</body>
</html>

<script type="text/javascript">
  loadlive2d("live2d", "models/kaga/model.json");
</script>
