<!DOCTYPE html>
<html>
<head>
  <title>ZeroHomepage</title>
  <%= favicon_pack_tag 'favicon.jpg' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_pack_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
<style type="text/css">
  body {
      position: relative;
  }

  body:after {
      content : "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background-image: url("<%= image_pack_url('bg.jpg')%>");
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity : 0.4;
      z-index: -1;
  }

</style>
<!-- <script type="text/javascript">
  loadlive2d("live2d", "models/kaga/model.json");
</script>

<div class="kaga">
  <div class="kaga-tips"></div>
  <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
</div>
 -->