<!DOCTYPE html>
<html>
<head>
  <title>ZeroHomepage</title>
  <%= favicon_link_tag 'favicon.jpg' %>
  <%= stylesheet_link_tag    'zero', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="github-markdown.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/zero/header'%>
<%= yield %>

</body>
</html>
