<!DOCTYPE html>
<html>
<head>
  <title>ZeroHomepage</title>
  <%= favicon_link_tag 'favicon.jpg' %>
  
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/zero/header'%>
<%= yield %>

</body>
</html>
