<!DOCTYPE html>
<html>
<head>
  <title>ZeroHomepage</title>
  <%= favicon_pack_tag 'favicon.jpg' %>
  <%= javascript_pack_tag 'zero', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'zero', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="margin: 0">

<div style="display: flex">
  <%= render 'layouts/zero/header'%>
  <div style="flex: 1; padding:25px">
    <div style="min-height: 64px;" ></div>
    <%= yield %>
  </div>
</div>

</body>
</html>
